.top-nav{
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3a3a3a;
    position: fixed;
    top: 5%;
    left: 50%;
    translate: -50%;
    z-index: 10;
    padding: 10px 30px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    .burger-menu{   
        div{
            background-color: black;
            width: 25px;
            height: 3px;
            margin-bottom: 5px;
        }
    }
    .phone-number{
        display: none;
    }
    a{
        text-decoration: none;
        color: #3a3a3a;
        display: none;
        &:hover{
            color: #ffb606;
        }
    }
    h2{
        display: none;
    }
    img{
        height: 43px;
    }
}
@media screen and (min-width:1023px){
    .burger-menu{
        display: none;
    }
    .top-nav{
        flex-direction: row;
        padding: 20px 15px;
        .left{
            display: flex;
            align-items: center;
        }
        .middle{
            margin: 0px 20px;
            width: 60%;
            display: flex;
            justify-content: space-between;
            a{
                display: flex;
                justify-content: space-between;
                color: black;
                &:hover{
                    color: #ffb606;
                }
            }
        }
        a{
            display: contents;
        }
        .phone-number{
            display: contents;
            width: 279px;
            height: 100%;
            background-color: #ffb606;
            img{
                width: 29px;
            }
        }
        h2{
            display: contents;
        }
    }
}