.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    .box{
        height: 161px;
        background: #1a1a1a;
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 30px;
        img{
            width: 62px;
            height: 62px;
            padding-right: 50px;
            margin-left: 40px;
        }
        span{
        padding-bottom: 10px;
        display: block;
        font-size: 24px;
        }
        a{
        text-decoration: none;
        &:hover{
            color: black;
        }
        }
        &:hover{ 
            background-color: #ffb606;
        }    
    }
}
hr{
    margin-top: 50px;
    width: 50px;
    height: 5px;
    background-color: #ffb606;
    border: none;
}
h3{
    text-align: center;
    font-size: 24px;
}
.popular{
    margin: 0 auto;
    width: 80%;
    background-color: #eaebec;
    margin-bottom: 80px;
    h4{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        &:hover{
            color: gray;
            cursor: pointer;
        }
    }
    p{
        text-align: center;  
        color: gray;
        font-size: 13px;
        margin-bottom: 20px;
    }
    img{
    width: 100%;   
    }
    .author{
        background-color: #d1d1d1;
        display: flex;
        align-items: center;
        img{
           width: 46px; 
           height: 46px;
           border-radius: 50px;
           margin: 10px 30px;
        }
        div{
            font-size: 13px;
            font-weight: bold;
            padding-right: 80px;
            span{
                color: gray;
            }
        }
        .price{
            background-color: #ffb606;
            color: white;
            display: flex;
            padding: 25px;
            font-weight: bold;
        }
    }
}
.register-yellow{
    background-color: #ffb606;
    color: white;
    padding: 100px 7px 150px 7px;
    text-align: center;
    span{
        color: black;
    }
    h2{
        line-height: 40px;
        font-size: 24px;
        margin-bottom: 30px;
    }
    p{
        line-height: 25px;
        font-size: 13px;
        margin: 0px 15px 40px 15px;
    }
    a{
        background-color: #1a1a1a;  
        text-decoration: none;
        color: white;
        font-size: 14px;
        padding: 10px 30px;
        &:hover{
            box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
        }
    }
}
.form{
    background: url(../images/latest_2.jpg) center/cover;
    padding: 100px 7px 150px 7px;
    margin-bottom: 100px;
    h2{
        text-align: center;
        margin-bottom: 80px;
    }
    form{
        display: flex;
        flex-direction: column;
        
        input{
            margin-bottom: 20px;
            border: 0;
            padding-left: 25px;
            padding: 13px;
            font-weight: bold;    
        }
        button{
            background-color: #ffb606;
            border: 0;
            color: white;
            padding: 15px 0px;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
.our-services{
    img{
        width: 41px;
        height: 41px;
    }
    .service{
        margin: 30px 20px;
        h4{
            font-size: 22px;
            margin-bottom: 13px;
        }
        p{
            color: #a5a5a5;
            font-size: 14px;
            line-height: 30px;
            font-weight: bold;
        }
    }
}
.Testimonials{
    background: url(../images/testimonials_background.jpg) center/cover;
    width: 100%;
    padding-top: 30px;
    color: white;
    text-align: center;
    margin-bottom: 150px;
    span{
        color:#ffb606;
        font-size: 40px;
    }
    h3{
        margin-bottom: 50px;
        font-size: 24px;
    }
    p{
        font-size: 13px;
        margin-bottom: 50px;
        line-height: 30px;
        padding: 0px 15px;
    }
    img{

        border-radius: 50px;
    }
    h5{
        color: #ffb606;
        text-transform: uppercase;
        margin-top: 21px;
        font-weight: bold;
    }
    div{
        padding-bottom: 120px;
        margin-top: -15px;
        font-size: 14px;
    }
    i{
        display: none;
    }
}
.events{
    width: 95%;
    margin: 0 auto;
    img{
       width: 100%; 
       margin-bottom: 20px;
       margin-top: 50px;
    }
    h5{
        font-size: 22px;
        text-align: left;
        margin-bottom: 10px;
        &:hover{
            color: #ffb606;
            cursor: pointer;
        }
        }
        h6{
            margin-top: 0;
            font-size: 14px;
        }
        p{
            color: #a5a5a5;
            font-size: 13px;
            line-height: 30px;
            font-weight: bold;
        }
    .date{
        border: 2px solid #ffb606;
        color: #ffb606;
        width: 20%;
        font-size: 36px;
        font-weight: bold;
        padding: 10px 0px;
        text-align: center;
        span{
            font-size: 14px;
        }

    }
}
@media screen and (min-width:1024px){
    .popular-courses{
        width: 60%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .popular{
        margin-top: 50px;
        width: 30% !important;
        
    }
    .register_wrapper{
        width: 100%;
        height: 70vh;
        display: flex;
        .register-yellow{
            width: 50%;
            h2{
                font-size: 36px;
            }
            .yellow-txt{
                width: 60%;
                margin: 0 auto;
            }
        
        }
        .form{
            width: 50%;
            height: 44vh;
            margin-right: 20px;
            form{
                input{
                    width: 50%;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
                button{
                    width: 53%;
                    margin: 0 auto;
                }
            }
        }
    }
    .services{
        width: 70%;
        display:flex;
        flex-wrap: wrap;
        margin: 0 auto;
        .service{
            width: 30%;
        }
    }
    .Testimonials{
        h3{
            font-size: 36px;  
        }
        p{
            width: 50%;
            margin: 0 auto;
            margin-bottom: 70px;
        }
        i{
            display: contents;
        }
    }
    .events{
        width: 50%;
        margin-bottom: 50px;
        .event{
            display: flex;
            align-items: center;
            .date{
                height: 100px;
                margin-right: 50px;
            }
            img{
                width: 350px;
                order: 3;
            }   
        }
    }   
}